@font-face {
 font-family: 'Maison Neue ExtraThin';
 src: url('MaisonNeue-ExtraThin.eot'); /* IE9*/
 src: url('MaisonNeue-ExtraThin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('MaisonNeue-ExtraThin.woff2') format('woff2'), /* chrome、firefox */
  url('MaisonNeue-ExtraThin.woff') format('woff'), /* chrome、firefox */
  url('MaisonNeue-ExtraThin.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('MaisonNeue-ExtraThin.svg#MaisonNeue-ExtraThin') format('svg'); /* iOS 4.1- */
 font-weight: 100;
 font-style: normal;
}

@font-face {
 font-family: 'Maison Neue';
 src: url('MaisonNeue-Thin.eot'); /* IE9*/
 src: url('MaisonNeue-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('MaisonNeue-Thin.woff2') format('woff2'), /* chrome、firefox */
  url('MaisonNeue-Thin.woff') format('woff'), /* chrome、firefox */
  url('MaisonNeue-Thin.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('MaisonNeue-Thin.svg#MaisonNeue-Thin') format('svg');  /* iOS 4.1- */
 font-weight: 200;
 font-style: normal;
}

@font-face {
 font-family: 'Maison Neue';
 src: url('MaisonNeue-Light.eot'); /* IE9*/
 src: url('MaisonNeue-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('MaisonNeue-Light.woff2') format('woff2'), /* chrome、firefox */
  url('MaisonNeue-Light.woff') format('woff'), /* chrome、firefox */
  url('MaisonNeue-Light.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('MaisonNeue-Light.svg#MaisonNeue-Light') format('svg');  /* iOS 4.1- */
 font-weight: 300;
 font-style: normal;
}

@font-face {
 font-family: 'Maison Neue';
 src: url('MaisonNeue-Book.eot'); /* IE9*/
 src: url('MaisonNeue-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('MaisonNeue-Book.woff2') format('woff2'), /* chrome、firefox */
  url('MaisonNeue-Book.woff') format('woff'), /* chrome、firefox */
  url('MaisonNeue-Book.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('MaisonNeue-Book.svg#MaisonNeue-Book') format('svg');  /* iOS 4.1- */
 font-weight: 400;
 font-style: normal;
}

@font-face {
 font-family: 'Maison Neue';
 src: url('MaisonNeue-Medium.eot'); /* IE9*/
 src: url('MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('MaisonNeue-Medium.woff2') format('woff2'), /* chrome、firefox */
  url('MaisonNeue-Medium.woff') format('woff'), /* chrome、firefox */
  url('MaisonNeue-Medium.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('MaisonNeue-Medium.svg#MaisonNeue-Medium') format('svg');  /* iOS 4.1- */
 font-weight: 500;
 font-style: normal;
}

@font-face {
 font-family: 'Maison Neue Demi';
 src: url('MaisonNeue-Demi.eot'); /* IE9*/
 src: url('MaisonNeue-Demi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('MaisonNeue-Demi.woff2') format('woff2'), /* chrome、firefox */
  url('MaisonNeue-Demi.woff') format('woff'), /* chrome、firefox */
  url('MaisonNeue-Demi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('MaisonNeue-Demi.svg#MaisonNeue-Demi') format('svg');  /* iOS 4.1- */
 font-weight: 600;
 font-style: normal;
}

@font-face {
 font-family: 'Maison Neue';
 src: url('MaisonNeue-Bold.eot'); /* IE9*/
 src: url('MaisonNeue-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('MaisonNeue-Bold.woff2') format('woff2'), /* chrome、firefox */
  url('MaisonNeue-Bold.woff') format('woff'), /* chrome、firefox */
  url('MaisonNeue-Bold.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('MaisonNeue-Bold.svg#MaisonNeue-Bold') format('svg');  /* iOS 4.1- */
 font-weight: 700;
 font-style: normal;
}

@font-face {
 font-family: 'Maison Neue';
 src: url('MaisonNeue-ExtraBold.eot'); /* IE9*/
 src: url('MaisonNeue-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('MaisonNeue-ExtraBold.woff2') format('woff2'), /* chrome、firefox */
  url('MaisonNeue-ExtraBold.woff') format('woff'), /* chrome、firefox */
  url('MaisonNeue-ExtraBold.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('MaisonNeue-ExtraBold.svg#MaisonNeue-ExtraBold') format('svg');  /* iOS 4.1- */
 font-weight: 800;
 font-style: normal;
}

@font-face {
 font-family: 'Maison Neue';
 src: url('MaisonNeue-Black.eot'); /* IE9*/
 src: url('MaisonNeue-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('MaisonNeue-Black.woff2') format('woff2'), /* chrome、firefox */
  url('MaisonNeue-Black.woff') format('woff'), /* chrome、firefox */
  url('MaisonNeue-Black.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('MaisonNeue-Black.svg#MaisonNeue-Black') format('svg');  /* iOS 4.1- */
 font-weight: 900;
 font-style: normal;
}